.category-head {
  padding: 50px 0;
  background-color: #fff;
  .row-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    font-size: 40px;
    color: #000;
    span {
      text-transform: capitalize;
    }
  }
}
.orange {
  color: #ed7422;
}
.category-list {
  display: flex;
  align-items: stretch;
  max-width: 700px;
  gap: 20px;
  li {
    align-content: center;
    a {
      background-color: #3b3b3b;
      padding: 10px 30px;
      text-align: center;
      width: 100%;
      display: grid;
      font-size: 13px;
      color: #fff;
      min-width: 200px;
      height: 100%;
      line-height: 1;
      place-content: center;
      &.active {
        background: #ed7422;
      }
    }
  }
}

.showcase-section {
  margin-bottom: 50px;
  background-color: #fff;
  .wrapper {
    position: relative;
    .image-container {
      position: absolute;
      left: 0;
      width: 60%;
      max-width: 70%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .panel-content {
      position: relative;
      display: grid;
      place-items: center;
      padding: 100px 50px;
      background-color: #0e1b2a;
      width: 40%;
      z-index: 20;
      margin-left: auto;
      height: 100%;
      .cutt {
        position: absolute;
        height: 100%;
        width: 20%;
        top: 0;
        right: 100%;
      }
      .content {
        position: relative;
        z-index: 20;
        h2 {
          font-size: 30px;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
          font-family: "General Sans", sans-serif;
        }
        ul {
          li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
            font-size: 16px;
            font-family: "General Sans", sans-serif;
            &:before {
              content: "";
              height: 10px;
              width: 10px;
              background-color: #ed7422;
              border-radius: 50%;
              display: block;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
        }
      }
    }
  }
}

.panel-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  a {
    display: block;
    width: fit-content;
    color: #fff;
    border-left: 7px solid #ed7422;
    padding-left: 10px;
    span {
      display: block;
      border: 1px solid #fff;
      padding: 15px 20px;
    }
  }
}

.car-slider {
  height: 100%;
  .owl-stage,
  .owl-item,
  li,
  .owl-stage-outer {
    height: 100%;
  }
  .owl-dots {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    .owl-dot {
      height: 8px;
      width: 33px;
      background-color: #ffffff;
      &.active {
        background-color: #ed7422;
      }
    }
  }
}

.inverted-showcase {
  background-color: #fff;
  .wrapper {
    .image-container {
      right: 0;
      left: unset;
    }
    .panel-content {
      margin-left: 0;
      margin-right: auto;
      .cutt {
        right: unset;
        left: 100%;
        transform: scaleX(-1);
      }
    }
  }
  .car-slider {
    .owl-dots {
      left: unset;
      right: 20px;
    }
  }
}
